.profilbar{
    height: 250px;
    background-color: #00ada7;
}

.logo{
    font-size: 35px;
    margin-left:10px;
    margin-right: 10px;
}

.pp, .description{
    border: #0b2e13 solid 1px;
}

.description{
    background-color: lightgray;
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px;
}

.img-fluid{
    height: 265px!important;
    width: 350px;
    object-fit: cover;
}
