@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-image: url('https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    color: white;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
    margin-top: 10%;
}

.card{
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.transparence{
    height: 400px;
}

.transparence2{
    height: 550px;
}

.card-header h3{
    color: white;
}

.input-group-prepend span{
    width: 50px;
    background-color: #0866EB;
    color: black;
    border:0 !important;
}

input:focus{
    outline: rgba(0 0 0 0)  !important;
    box-shadow: 0 0 0 0 !important;

}
.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: white;
    background-color: #0866EB;
    width: 170px;
    padding: 4px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}

label{
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

a{
    color: white;
}

.fas{
    color: white;
}

p{
    color: white;
}

.help-inline{
    margin-left: 2px;
}
